body {
     background-color: red;
     background-size: 100% 100%;
     font-family: Arial, sans-serif;
}
 .top {
     background-color: rgb(61, 61, 61);
     margin-bottom: 10px;
     width: 120px;
     height: 70px;
     border-radius: 5px;
     color: white;
     font-size: 20px;
     transition: font-size 0.3s, box-shadow 0.3s, Width 0.2s, background-color 0.3s;
     font-weight: bold;
     border: none;
     display: inline-block;
     text-align: center;
}
 .based {
     background-color: rgb(61, 61, 61);
     margin-bottom: 10px;
     width: 120px;
     height: 70px;
     border-radius: 5px;
     color: white;
     font-size: 15px;
     transition: font-size 0.3s, box-shadow 0.3s, Width 0.2s, background-color 0.3s;
     font-weight: bold;
     border: none;
     display: inline-block;
     text-align: center;
     object-align: top;
}
 .button {
     background-color: rgb(61, 61, 61);
     margin-bottom: 10px;
     width: 120px;
     height: 70px;
     border-radius: 5px;
     color: white;
     font-size: 20px;
     transition: font-size 0.3s, box-shadow 0.3s, Width 0.2s, background-color 0.3s;
     font-weight: bold;
     border: none;
     display: inline-block;
     text-align: center;
     item-align: top;
}
 .title {
     background-color: rgb(61, 61, 61);
     margin-bottom: 10px;
     width: 100%;
     height: 70px;
     border-radius: 5px;
     color: white;
     font-size: 20px;
     transition: font-size 0.3s, box-shadow 0.3s, Width 0.3s, background-color 0.3s;
     font-weight: bold;
     border: none;
     text-align: center;
     display: block;
}
 .button:active {
     box-shadow: 0px 0px 10px rgba(118, 227, 108, 0.6);
     width: 150px;
     font-size: 21px;
     cursor: pointer;
}
 .cur {
     background-color: rgb(118, 227, 108);
     margin-bottom: 10px;
     width: 120px;
     height: 70px;
     border-radius: 5px;
     color: white;
     font-size: 20px;
     transition: font-size 0.3s, box-shadow 0.3s, Width 0.3s;
     font-weight: bold;
     border: none;
     display: inline-block;
     text-align: center;
}
 .cur:hover {
     box-shadow: 0px 0px 10px rgba(118, 227, 108, 0.6);
     width: 150px;
     font-size: 21px;
     cursor: pointer;
}
 .top:hover {
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
     width: 250px;
     font-size: 21px;
     cursor: pointer;
}
 .based:hover {
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
     width: 150px;
     font-size: 15px;
     cursor: pointer;
}
 .top:active {
     background-color: rgb(118, 227, 108);
}
 .tit {
     color: white;
     font-size: 30px;
     font-weight: bold;
     margin-top: 0px;
}
 .main {
     width: 100%;
}
 .topnav {
     position: fixed;
     left: 50%;
}
 h1, h2 {
     color: white;
}
 a {
     background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISEhUSEhAVFRUVFRUVFRUVEBAPFRUQFRUWFhUVFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OFxAQGi0dHx0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tNy0tNzctNzctK//AABEIANAA8wMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAADAQIEBQYAB//EADYQAAIBAwMCBAQFAgYDAAAAAAABAgMEEQUhQRIxBhNRYSJCcYEyUpGxwRTwB2JyodHxFSPh/8QAGAEAAwEBAAAAAAAAAAAAAAAAAAECAwT/xAAhEQEBAQEAAwEAAgMBAAAAAAAAARECEiExAwRBEzJxIv/aAAwDAQACEQMRAD8Ap4oJJA4BzqYygSQGoiXOIBxCGjNCJB3ATyytTQsDoxCxgSKdEm1OI8aYRUSXGmdLYWniMqRzgPnIFKYQEaESE6hUyiKzjjkhyKhUPjERDpDVAK7Is2FqyIs5CMRD4g4schkkQlgmUbkrosJGRF5OVNu4KS29DC3dr0zlnubFVcFJr1HdTXOz+pj3z6VzfajdAiVVhk/chV4vOTGLBHwjkGSrSHIwMonDmjhE3FNBkgAWmzsYHtDHALgcoCUjOmJ5ZKcBmA1NNhTDoZEVyEkrkBqTEnUBSlkeGSUgbHDWVICZOyNZyKL4KhyBxH5BUOyR7u5UV7vZfU65uowTbZQ0bh1qqfCYrVRcN7Fdf1MIsKxFuqGY4EKr6F/gsKV6nyZ64oSiwHmtch5HjZ06iYRSMrb6k0Toap6sN0YvEwOpxzTf6kBamgVfVMxa9Ser6EntXSYKe4R9gU2cNbI8qOXsTY08LB1CHIRlaWBYFHCAGzmLCQ6tDcjna5k+Eg0UQ6UybSJqpXNDMEhxBVI8iFAkwFSoOrzwQqlQqRIvUKpEGrdqJX3OpvhlCReSqIH5iM29UYOWqSDYrGochOozMdWkP/8AKtj8oPFo3cJckK71SMVt3KGrfN8jKFGdV4S+/oK9HgtSrOvLpW+5fWNkqaS55HWNpGlHCW/qHTFFOa3OnEWCHSY01X3NsmUtzpz4NNUQGdMVhSshKjKPB3WzUytU+CHW0xMnxXOlDGtjkR1Wwl9b9Owy1p75Mu7iokynhI6gup54Or0upLAaEcJI51nZOyJkRsATIohwBsrK6VWGfmX4l/I2oZ2zu3Sl1L7r1RovMjOKnHszr/PvyjHvnK6lMsraZT5wT7Sqa2IWYGuGj2AXKMwrLqZV3lxhE69ngzWoV9y9yCBXFy2yJKeRKkwE5keTSQRzGuaH0bOpPtHCJ1DQX80gyjZFb5iDU6EpdkX1DS4R4+77k2FGK7IfiXkpbLRm95foX1C3jBYSHxYrZWJ01yHoCnuSUtgUamNkxHIY5jhUrETEczkwxJRJrCyxZNRWW8FLqOoue0dl+5Hfc5iuedRb+SlL2BQWBuRyZx3rW2YJk7IiOJM4Rs44A5MUa2cARrW8f4Z9+H6ltp+oOk/WL7r+UVV9bdW67kSleOPwzX3Lls9wv+t2q0ZrMXkNa1MMwsNQlTanB7crg1GmahGrHqj35XodnHc6jHrnGvtp5QO47Mj6fVJFy+4qi1mdVrYMzXm5Mvda3eCNZ2K7tFZqoqqVlOfGxbWWlRju1l+5ZQppcD8BOZB5Gxgc0K5IDKqUmDI7qIzqixmI0jqFUgKY5SEcPT3JOdiJGWWSp/hf0GVRKlQjVblLu8FbqmpqGy3ZSdc6rzLLjzgz67nKpzrTQ1Gnnea/Unq5godXUsf32A6P4Vo1oZU+67+j9zOajZVKFWVGaa6H6vDXDX2I/wA3pX+NMv751H6LhEXIPqFyc96tvtpPR+RyB5HRkIxUxRiY7IhhWzhMnZAYXIo04AWTA0qMHUi5rMc7r1Q6bAzkOXKGwudOt6sPgilt2WxSWmmOjWUozxH5k/Qbpl62sJ/Ev9yd53mZWPiR1c59LqNHbYT2e3BPrrMTIWF5KnLpl2NhbyU4Glc/XLLXlLM9x1NEvUaWGQky4QoyUhspEC+vFBZbC3B9Fr10uSsudWhHnL9imvL2VR+3oDhat+xh1+uNJxn1YvWZPtEPb6tnusAdOj0NNpSjybKjplCtT6owM5+6vGVU29wpEmMisurV0KnT8r7E6hLJ0c3yZ2YkR7hr2p00py9ER4hdTWbep/pKvwSMxYaLO4hKt1bJsr4Vp0pOGds4ZJ07Va1Kn0QeYt9iHOM6s2+ndnFcv1q9K8HRoKknCTdST+KOeCN/iXaJeTX5knCXvjsQvA76a3TLvjsi1/xGqRnRhSz8Sk5bb4Rlz7q/6efqRyYyENtnn+PqLkuwoJkcmCyOixGMmOyCUh2RAQ7I1M7IA7IgmTh4DJSBS7Zey9xas1FfF9kQa1Rye/bhDkAn9W004bY/Vl/p12pYmu6/EjMYJFrWlB9S+/ujXnrCbG5lGW6XcuPDt38rZm7CoqizH7x9CZbUpRqRw8ZZ0S7EWNHq9v3M/JNM2EY+ZTX6P6kGppo+bjFnK2Usmau5OrU6F2Rur+y+FlB4e0/rqybXZ4I/Xr0v85tZ2tbOMtl2LbRtK8+Dcv3wJ4mtXCp27lZZapVobLsck93209adWg6dRwy8HoHgm/TpOj0LK55POJV5VJ9TRs/AyeZPgV+jn6P4utsR6uUypsGX3i2ovLl7/uUFgtkdP4/C6ntPZOpU+uEo+sWiFwTrCW5umsVGycG49WGn2lsvsw9GE188I556s/sabWdP6viS+pSO3a+X9jC/x5R5RY6Xf07eLVKLqVJd6klhfYdb03UqddR5f99vYh0acntgubKlgvn85yflrE+IKXlXElDZP4sfX2AU7iMu+z9eGTvF+9w/aKRR4MOp7XPixnBrucmRaFy47d16MlQxLeL+xnYo5MemC+o5MQEydkYmLkQPycMOAK1tt5byKkKoi4NCdgckKkOUQB9CrKLzF4ZdWevpNKqtvzIpEhXHI53gereH6+Vs8xlumi2lDJ5b4T1t21Tom/8A1ye3+VnqNKqmsp7HTzdjDvn2i3VHKMncuVvV64RbT7rg2VdZKbUKOeBdc76qebZVDq1elcw/LNcP1M+lHPTNLYvrmCWcor6lqn/0jDv+PvxpepTadJSxClTz78L7mrsnStaeJTSfp3ZlYUZLtNpe2wvlru22/d5Dj+Nh+UH1i+deS2xBdlyxKXCBRjlkmhSOmc+Mwt0eLD21XDBOIyL3GGhhJSiRq1svQDY3GNixcclFirVDDJFMZXynjga6mIt+iYX4GH1+fVXm/fH6FY0X9Wrlv3b4yCjbdXyr9MHBevet8UbHQznbOfYtKtpTi/i39kTKMU1tFQXt3x/AeQxGs6FSp8Lg84ynzhewCdNr3RKuNT8tONJ4bWHL2+pV0bmUX6rlMWBITFyOj0y3jt7DWLAU4TJw8CKkOOSHIZFjEckcOSAyJC4FSJFChkk4jypdSxj6bG28GapJw8mb+KHbPMeDPXSUacZrhuMv3TCabW6akZp//Uy/z78aXXOvQJ1yJWqpkarPldmRZ1TrxhYdcU1Irq1muCTKqMdQqQYh/wBK/UWNmudyXkVSDBiPGjgLFD5MagOEkgTiSYxyEjQ9gMCkW1nVysELyQlB9LGSbdU8opb3Mac8/Qv08oqNdtXOlNLv3Quv9R8ZCle049Slu+B0bmUvwrCIMbP17hqdKa5+hw2NtGl0x3by/wDf7ESrqEs4W0fT1+olzBrnJG6dxyDT5rgDgNU9QeAIkJNPKZMpXCltLv6kM4MCc6TOIiqy4ZwsPRcFt4Y06FxcU6M5dKm8LPZyxlJvhFVgk6dWdOpCce8ZJr7MBPqx1i3iqsqSioyg3HC7PGxV9Dzui88Vvrq+fH50pbfmxuUv9d1PaOWTh+hqVv67fySZQ2HUM92FUck2qhLaO0qb+dPH+pboZoWkznNr5V2JMKCyn6duCys73oTVOOZYFevXoYsLKXVFw5ht9uAVangzuk6w43TUvmfTL0TNbdUjv/O7ywvqqmogRLqwI84mhWG5HJjTm8DI/PAWECKpFvbQTSArTKFMnU7cSnSwWNtEVT5IErYFVoF/K3I1W3JVKrKD4H1oZQs6WGOxkcqmHv7ToqSXvn7MjTiXniamoyUsPfbYpcOXZNnJ366rSfFVedwdOPI+4/Fj0OkxAKQxoI0I0AMwIOEAGnCiAEpIlWtu3v29/wDgfQt+ZfZExSSM7VyAqnNxcJY6c5TzuvY6jSjHsvuOnVyD6xaMSISCKoiIqgypXF4hMr3eEAo6k4U59L3bx74Ky4uMkZS9y5wm0VS+Lq57/c9G0K9VehF53Wz+qPM5SND4K1Hy6nRJ/DP9zo/O56Z9NbXokCpEvK1PJX3NE6IjVcDqBpxBVSi0ItNNuF2bKyKDQg+6FRmtLTJtu9zP21213LG2vU2LU3lo6byhtSmAtapKUiSVte3IypYLirHJEqxQ189KPVbTrg1zxtyYG4lKMmpN5X2PTq0UZXxNpcXDzEviT3a9FwzD9Z/bXmsa1z6jQskMaMlGNDWh41oAaxo5jWAIcIzgC+ckCqVATqAKlYyxWizqAXUOlHCzJ49uSLKr6FSDUl1gM6oFzG5L8U2nNjcnJCxRREwPpTcWpLunlHYFYB6foN+q9FPlLD+pIrQ2ML4T1LyqnS38Mv3N9J5WTo5uxh1MU1zDDIVQtLyBWY3NZRBbejllpQtM8DbC3LyjRwjPqlar1YewCdg1ui8WBk+kkaqra7lB4kW9C+T5Ky6hH2K2pX6HtIJT8da1XCAVqyKCnqfuNr3/ALlyDMSru94Rn9e1KpCm1B7S7p79vQfWuOclDf3XmSePwpYX/JH65mNONVtOeVkVg7b5l6bhWczSGMYwkhjHJpX0YxIRHuJyRU5ujQZHC+WzifGjRKlUSE0viffhfyyP1j+tN5YsM2pNt5Y1oK8DGsjBMHZOZyQEVILFCRiK0MEHKIkUEiAJF4eVwbzw3qfmww+62MZUt1jZ/wDZO0itKm08bLvwXzU9TWzu47FVj4izVVTjlclZV2mbxlF/Y4SyRLvXG5dFGLk1tnhfci163UlTTf8Amx3wTbSEaUcJJEX6PF1KhcSWZSx7IZWjOK/EwlbV2l3Ky4v+rgPa/GI91Vn+ZkLL7ykFuKvdspLm5cn32HmHq5t66csJjtZruEE13zgq9KfxllrUc019R2/+fRT6ori8nPZvYBCTHSYOTMLdaFt/xMNIjweCRlNE0w5DR0hpXNTXHM4ZKoXaWEdR/lZwN1X/AHk4nyPH/9k=");
     background-size: 50%;
     margin-bottom: 10px;
     width: 200px;
     height: 45px;
     border-radius: 5px;
     border-style: solid;
     border-width: 5px;
     border-color: rgb(61, 61, 61);
     color: white;
     font-size: 20px;
     transition: font-size 0.3s, box-shadow 0.3s, Width 0.2s, background-color 0.3s;
     font-weight: bold;
     border: none;
     display: inline-block;
     text-align: center;
     text-decoration: none;
}
 a:hover {
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
     width: 300px;
     font-size: 21px;
     cursor: pointer;
     background-color: black;
     color: white;
     border-color: black;
}
 a:active {
     background-color: darkred;
}
